<header>
    <h1>Chansey+</h1>
</header>
<section>
    <div class="divMain">
        <form action="" method="post">
            <input type="email" name="emailLogin" id="emailLogin" placeholder="Digite seu email" required> <br>
            <input type="password" name="senhaLogin" id="senhaLogin" placeholder="* * * * * * * *" required> <br>
            <div class="divForm">
                <label for="lembrarUsuario">
                    <input type="checkbox" name="lembrarUsuario" id="lembrarUsuario">
                    Lembrar de usuário
                </label>
                <p><a href="#">Esqueceu sua senha ?</a></p>
            </div>
            <button class="btnLogin" type="submit">Entrar</button>
        </form>
    </div>
</section>