
.divMain {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 15% auto;
    padding: 20px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

.divForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: small;
    padding: 10px;
}


.divForm label {
    display: flex;
    align-items: center;
    gap: 5px; /* Mantém o checkbox próximo ao texto */
}

.divForm a {
    text-decoration: none;
    color: blue;
    transition: color 5s;
}
.divForm>input {
    text-align: center;
}

input {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    border-radius: 35px;
    text-align: center;
    border: 1px solid #ccc;
}

.btnLogin {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 35px;
    border: 1px solid palevioletred;
    background-color: palevioletred;
    color: white;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
}

.btnLogin:hover {
    background-color: rgb(199, 83, 123);
}