<header>
    <h1>Chansey+</h1>
</header>
<section>
    <div class="divMain">
        <form action="" method="post">
            <input type="email" name="emailLogin" id="emailLogin" placeholder="Digite seu email" required> <br>
            <input type="password" name="senhaLogin" id="senhaLogin" placeholder="* * * * * * * *" required> <br>
            <div class="divForm">
                <label for="lembrarUsuario">
                    <input type="checkbox" name="lembrarUsuario" id="lembrarUsuario">
                    Lembrar de usuário
                </label>
                <p><a href="#">Esqueceu sua senha ?</a></p>
            </div>
            <button class="btnLogin" type="submit">Entrar</button>
        </form>
        <button class="btnCadastro" (click)="mostrarModal()">Cadastre-se</button>
    </div>
    <!-- Modal Visivel somente ao clicar no botão de cadastro-->
    <div class="modal" *ngIf="modalAtivo">
        <div class="modalContent">
            <h2>Cadastro de usuário</h2>
            <form class="formContent">
                <input type="text" placeholder="Nome">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Senha">
                <button class="btnCadastroForm" (click)="mostrarModal()" type="button">Cadastrar</button>
            </form>
        </div>
    </div>
</section>