<header>
    <h1>Chansey+</h1>
</header>
<div class="divMain">
    <form action="" method="post">
        <input type="email" name="emailLogin" id="emailLogin" placeholder="Digite seu email" style="text-align: center;" required> <br>
        <input type="password" name="senhaLogin" id="senhaLogin" placeholder="* * * * * * * *" style="text-align: center;" required> <br>
        <div class="divForm">
            <input type="checkbox" name="lembrarUsuario" id="lembrarUsuario">
            <label for="lembrarUsuario">Lembrar de usuário</label>
            <a href="#">Esqueceu sua senha ?</a>
        </div>
        <input class="btnLogin" type="submit" value="Entrar">
    </form>
</div>