<div class="fixed-bottom">
    <footer class="d-flex flex-wrap justify-content-center align-items-center py-0 my-0 border-top bg-secondary">
      <p class="col-md-4 col-lg-2 mb-0 text-body-secondary px-4">© 2025 Pokemon Center</p>

      <!--<ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
      </ul> -->

    </footer>
  </div>