/* You can add global styles to this file, and also import other style files */
html {
    background-image: url(https://cdna.artstation.com/p/assets/images/images/004/634/020/large/tharindu-niletthi-de-silva-level-td-0000.jpg?1485178643);
    background-repeat: no-repeat;
    background-size: cover;
}